*{
    margin: 0px;
    padding: 0px;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* shared items  */

.btn-primary{
    color: #fff;
    background-color: #FD6E0A;
    cursor: pointer;
    padding: 19px 30px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 5%;
    border: none;
}
.section-title{
    font-weight: 800;
    font-size: 35px;
    color: #181818;
    text-align: center;
}
.section-description{
    font-size: 20px;
    color: #757575;
    text-align: center;
}

/* Header */

header{
    background-image: url(./media/developer.png), url(./media/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 15px;
    padding-left: 15px;
    background-color: #FFF8F3;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 100px;
}
.nav-items h2{
    color: #181818;
    font-weight: 800px;
    font-size: 45px;
    margin-left: 60px;
}
.nav-items h2 span{
    color: #FD6E0A;
}
.nav-items ul{
    display: flex;
    align-items: center;
}
.nav-items ul li{
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
}
.nav-items ul li a{
    text-decoration: none;
    color: #474747;
}

/* Banner */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 160px;
}
.banner-content{
    max-width: 550px;
}
.banner-content h4{
    font-size: 45px;
    font-weight: 600;
    color: #474747 ;
    margin: 220px 0px 15px;
}
.banner-content h1{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}
.banner-content p{
    font-size: 20px;
    color: #757575;
    margin: 40px 0px 25px;
}
.banner img{
    width: 584px;
}

/* Main */

main{
    max-width: 1140px;
    margin: 0px auto;
}

/* About Section */

.about-section{
    border-radius: 3%;
    background-color: #FFF8F3;
    text-align: center;
    padding: 130px 150px;
    margin: 130px 0px;
}
.about-section p{
    margin: 30px 0px;
}
.about-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-item{}
.about-item h5{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}
.about-item h3{
    font-weight: 700;
    font-size: 22px;
    color: #474747;
}

/* Skills */

.skills{}
.skills h3{}
.skills p{
    margin-top: 30px;
    margin-bottom: 50px;
}
.skill-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    gap: 24px;
}
.skill-item{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-item img{}
.skill-item h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}
.skill-item p{
    margin: 0px 0px 30px 0px;
    font-weight: 600;
    font-size: 16px;
    color: #757575;
}

/* Resume Sectio */

.resume-section{
    margin: 130px 0px;
}
.resume{
    display: flex;
    align-items: center;
    gap: 95px;
    margin-top: 130px;
}
.education{}
.edu-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.edu-description{
    margin: 60px 0px;
}
.edu-description h4{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.edu-description h5{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.edu-description p{
    font-weight: 600;
    font-size: 16px;
    color: #757575;
}

.experience{}
.exp-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.exp-description{
    margin: 60px 0px;
}
.exp-description h4{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.exp-description h5{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.exp-description p{
    font-weight: 600;
    font-size: 16px;
    color: #757575;
}
.resume-section .btn{
    text-align: center;
    margin-top: 50px;
}